<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Курсы</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isHome}}
      <li class="active"><a href="/">Главная</a></li>
      {{ else }}
      <li><a href="/">Главная</a></li>
      {{/if}}

      {{#if isCourses}}
      <li class="active"><a href="/courses">Список курсов</a></li>
      {{ else }}
      <li><a href="/courses">Список курсов</a></li>
      {{/if}}

      {{#if isAdd}}
      <li class="active"><a href="/add">Добавить курс</a></li>
      {{ else }}
      <li><a href="/add">Добавить курс</a></li>
      {{/if}}



    </ul>
  </div>
</nav>