<form action="/create" method="POST">
  <h2>Create todo</h2>

  <div class="input-field">
    <input type="text" name="title" id="title">
    <label for="title">Todo title</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>